/* CSS fill for overrides and custom styles */

.footer {
    position: absolute;
    bottom: 0;
    left: auto;
    width: max-width;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 10px 10px 0 10px;
}

.widget-grid {
    padding: 20px;
}

.white .ui-icon {
 color: #fff;
}
.large .ui-icon {
  font-size: 4em;
}