/* CSS fill for overrides and custom styles */

.footer {
    position: static;
    bottom: 0;
    left: auto;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 10px 10px 0 10px;
}

.widget-grid {
    padding: 20px;
}

.right {
    float: right;
}

/*overriding jquery icons to default to white*/
.ui-icon {
    background-image: url(images/ui-icons_ffffff_256x240.png) !important;
}