:root, [data-bs-theme=light] {
  --bs-primary: #8aa1b6;
  --bs-primary-rgb: 138,161,182;
  --bs-primary-text-emphasis: #374049;
  --bs-primary-bg-subtle: #E8ECF0;
  --bs-primary-border-subtle: #D0D9E2;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #8aa1b6;
  --bs-btn-border-color: #8aa1b6;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #9CAFC1;
  --bs-btn-hover-border-color: #96AABD;
  --bs-btn-focus-shadow-rgb: 21,24,27;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #A1B4C5;
  --bs-btn-active-border-color: #96AABD;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #8aa1b6;
  --bs-btn-disabled-border-color: #8aa1b6;
}

.btn-outline-primary {
  --bs-btn-color: #8aa1b6;
  --bs-btn-border-color: #8aa1b6;
  --bs-btn-focus-shadow-rgb: 138,161,182;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #8aa1b6;
  --bs-btn-hover-border-color: #8aa1b6;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #8aa1b6;
  --bs-btn-active-border-color: #8aa1b6;
  --bs-btn-disabled-color: #8aa1b6;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #8aa1b6;
}

